@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body{
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(164, 226, 255) 0%, 
        rgb(190, 201, 255) 25%, 
        rgb(206, 163, 221) 51%, 
        rgb(180, 166, 171) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.container{
    width: 430vh;
    height: auto;
    background-color:#c1d7f8; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


.logo{
    display: flex;
    font-size: 60px;
     color: rgb(0, 0, 0); 
    letter-spacing: 1px; 
    cursor: pointer; 
    font-style: italic;
}

span{
    font-size: 65px;
    color: purple;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: orange;
    transition: .4s;
}

.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform:scale(1.2)
}


.html {
    width: 80%;
}

.php {
    width: 60%;
}

.Javascript{
    width: 30%;
}

li {
    list-style: none;
   }

#container {
  background-color: grey;
  position: relative;
  width: 100%;
  overflow: hidden;
    
}
.box {
  float:left;
  width:31%;
  margin:1% 1% 93px 1%;
}

.box img {
  width: 100%;
  display: block;
  border-style: solid;
  border-width:1.5px;
}

button {
  cursor: pointer;
  transition: all 0.3s;
}

.btn {
  background-color: #a1a1a1;
  border-color: #a1a1a1;
  border-style: none;
  border-radius: 0.3em;
  font-size: 1em;
  text-shadow: none;
  height: 3.3em;
  width: 9.6em;
  margin-left: 30%;
  margin-top: 5%;
}

.btn:hover {
  background-color: #282828;
}

.social {
  padding: 0;
  list-style: none;
}

section > h1 {
  margin-top: 2em;
}

.social > li {
  display: inline-block;
  padding-right: 1em; 
}

.content-footer > p {
  color: white;
}

.content-footer > a {
  margin-right: 0.1em;
}

.content-footer {
  background-color: #282828;
  max-width: 100%;
  padding: 4em 0;
}

@media only screen and (max-width: 500px) {
  .img-responsive {
    /*margin-top: -1em;*/
  }
  .box:nth-child(1n+2) {
    border-top: 3px solid #a1a1a1;
    padding-top: 3em;
  }
  .box {
   display: block;
   width: 75%;
   padding-left: 2em;
   padding-top: 0;
 }
 .content-footer {
  font-size: 0.8em;
}
.masthead {
  padding: 3em 0; 
}
.masthead-heading {
  font-size: 3em;
}
}