@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body{
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgb(164, 226, 255) 0%, 
        rgb(190, 201, 255) 25%, 
        rgb(206, 163, 221) 51%, 
        rgb(180, 166, 171) 100%
  );  
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.container{
    width: 430vh;
    height: auto;
    background-color:#c1d7f8; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


.logo{
    display: flex;
    font-size: 60px;
     color: rgb(0, 0, 0); 
    letter-spacing: 1px; 
    cursor: pointer; 
    font-style: italic;
}

span{
    font-size: 65px;
    color: purple;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: orange;
    transition: .4s;
}

.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform:scale(1.2)
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
  }
  
  .masthead-heading {
    margin-top: -0.2em;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }
  
  .content-footer,
  .introduction, 
  .location, 
  .questions {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  
  .questions {
    padding-bottom: 1.5em;
  }
  
  /* -------------------------
      Portfolio
     -------------------------*/

     .wrapper {
        width: 400px;
        font-family: 'Roboto', sans-serif;
        margin:0 auto;
    }
     
    .skill {
        margin-bottom: 35px;
        position: relative;
        overflow-x:hidden;
    }
     
    .skill > p {
        font-size: 18px;
        font-weight: 700;
        color: #1a1716;
        margin: 0;
    }
     
    .skill:before {
        width: 100%;
        height: 10px;
        content: "";
        display: block;
        position: absolute;
        background: #959595;
        bottom: 0;
    }
     
    .skill-bar {
        width: 100%;
        height: 10px;
        background:#f4392f;
        display: block;
        position: relative;
    }
     
    .skill-bar span {
        position: absolute;
        border-top: 5px solid #f4392f;
        top: -30px;
        padding: 0;
        font-size: 18px;
        padding: 3px 0;
        font-weight: 500;
    }
     
    .skill-bar {
        position: relative;
    }
     
    .skill1 .skill-count1 {
        right: 0;
    }
     
    .skill1 {
        width: 45%;
    }
     
    .skill2 {
        width: 35%;
    }
     
    .skill2 .skill-count2 {
        right: 0;
    }
     
    .skill3{
       width: 45%;
    }
     
    .skill3 .skill-count3 {
        right: 0;
    }
  
 

















  @media only screen and (max-width: 500px) {
    .img-responsive {
      /*margin-top: -1em;*/
    }
    .box:nth-child(1n+2) {
      border-top: 3px solid #a1a1a1;
      padding-top: 3em;
    }
    .box {
     display: block;
     width: 75%;
     padding-left: 2em;
     padding-top: 0;
   }
   .content-footer {
    font-size: 0.8em;
  }
  .masthead {
    padding: 3em 0; 
  }
  .masthead-heading {
    font-size: 3em;
  }
}